<%= render "devise/shared/error_messages", resource: resource %>
<div class="container devise">
  <div class="devise_frame">
    <p class="my-4">新しいアカウントを作成</p>
    <div class="devise_inner">
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       <div class="field form-row">
         <div class="col-2 required-b pt-2">
         </div>
         <%= f.text_field :name, autofocus: true, placeholder: 'ユーザー名', class: 'form-control col-10 px-2'%> 
       </div>
       <div class="field form-row">
         <div class="col-2 required-b pt-2">
         </div>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'form-control col-10 px-2' %>
       </div>
       <div class="field form-row">
         <div class="col-2 required-b pt-2">
         </div>
         <%= f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード', class: 'form-control col-10 px-2' %>
       </div>
       <div class="field form-row">
         <div class="col-2 required-b pt-2">
         </div>
         <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'パスワード確認', class: 'form-control col-10 px-2' %>
       </div>
       <div class="actions">
         <%= f.submit "新しいアカウントを作成", class: 'form-control btn-primary my-4' %>
       </div>
     <% end %>
     <%=link_to 'すでにアカウウトをお持ちの方はログイン', new_user_session_path %>
     <br>
    </div>
  </div>
</div>
