<div class="container devise">
  <div class="devise_frame">
    <p class="my-4">ログイン</p>
    <div class="devise_inner">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-row">
          <div class="col-2 required-b pt-2">
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'form-control col-10 px-2' %>
        </div>
        <div class="field form-row">
          <div class="col-2 required-b pt-2">
          </div>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード', class: 'form-control col-10 px-2' %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン", class: 'form-control btn-primary my-4' %>
        </div>
      <% end %>
      <%= link_to '新しいアカウント作成', new_user_registration_path %>
    </div>
  </div>
</div>
